@{
    ViewBag.Title = "About Us";
}


<link href="~/Content/Styles/team/tmm_team_style_1.css" rel="stylesheet" />

<div class="background-container medium-12 columns" style="background-image:url(../../Content/Images/hero-home-2.jpg) ">
    <div class="color-overlay"></div>
    <h2 class="title" style="width:50%; float:left; font-size:40px; margin-top:-25px !important;">At DebugTime, we’re improving lives through learning</h2>
    <div class="mbm" style="width:50%; float:left; margin-top:50px;">
        <p>The interactive learning destination for aspiring and experienced developers</p>
        <input type="button" value="Start Learing Now" class="button start-learing" />
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<h3 class="hamzah">What about DebugTime</h3><br />
<p style="text-align:center;">DebugTime is only the Platform that provides Microsoft and many other certifications by our Experienced, most trusted and Certified Floks! </p>
<p style="text-align:center;"> We Provide a complete pathway from Beginner Level to Advance.</p>
<br /><br /><div class="medium-12 columns">
    <div class="not-ie no-js">
        <div class="content">
            <div class="section paddinf-off tmm-team">
                <div class="hgroup">
                    <h3 class="hamzag">Meet the team</h3>
                </div>
                <section class="tmm-container">
                    <div class="tmm-row">
                        <div class="item-circled-3">
                            <div class="face-container">
                                <div class="face"><img src="../../Content/Images/Team/hamza.jpg" alt=""></div>
                                <div class="spiner"></div>
                            </div>
                            <ul class="social-icons" style="margin-top:-5px !important; padding-left:5px;">
                                <li><a href="https://web.facebook.com/bhattihaxor1"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="https://twitter.com/bhattihaxor"><i style="padding:6px;" class="fa fa-twitter-square"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/hamza-zulfiqar-bhatti/"><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                            <div class="item-content">
                                <h4>Hamza Zulfiqar Bhatti</h4>
                                <p>Front End Developer | Cyber Security Researcher</p>
                            </div>
                        </div>
                        <div class="item-circled-3">
                            <div class="face-container">
                                <div class="face">
                                    <img src="../../Content/Images/Team/mobeen.jpg" alt="">
                                </div>
                                <div class="spiner"></div>
                            </div>
                            <ul class="social-icons" style="margin-top:-5px !important; padding-left:5px;">
                                <li><a href="https://www.facebook.com/mobeen.rashid.1"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="https://twitter.com/mobeenrashed"><i style="padding:6px;" class="fa fa-twitter-square"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/mobeen-rashid-✪-41aab5a9"><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                            <div class="item-content">
                                <h4>Mobeen Rashid</h4>
                                <p>Front End Developer | C# / BackEnd Developer</p>
                            </div>
                        </div>
                        <div class="item-circled-3">
                            <div class="face-container">
                                <div class="face"><img src="../../Content/Images/Team/mubashar.jpg" alt=""></div>
                                <div class="spiner"></div>
                            </div>
                            <ul class="social-icons" style="margin-top:-5px !important; padding-left:5px;">
                                <li><a href="https://www.facebook.com/mubashar1994"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i style="padding:6px;" class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                            <div class="item-content">
                                <h4>Mubashar Rafique</h4>
                                <p>Front End Developer | C# / BackEnd Developer</p>
                            </div>
                        </div>
                        <div class="item-circled-3">
                            <div class="face-container">
                                <div class="face">
                                    <img src="../../Content/Images/Team/farooq.jpg" alt="">
                                </div>
                                <div class="spiner"></div>
                            </div>
                            <ul class="social-icons" style="margin-top:-5px !important; padding-left:5px;">
                                <li><a href="https://www.facebook.com/hafiz.umar.300"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i style="padding:6px;" class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                            <div class="item-content">
                                <h4>Umer Farooq</h4>
                                <p>C# / BackEnd Developer </p><p style="color:#f7f7f7;">.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
<style>
    .tmm-team .tmm-container {
        max-width: 100% !important;
    }

    .footer {
        background-color: #2E2829;
        padding: 80px 0;
    }

    .tmm-team .item-circled-3 .item-content {
        color: #000;
    }

        .tmm-team .item-circled-3 .item-content p {
            font-size: 12px;
            color: #000;
            text-align: center;
        }

    .hamzah {
        font-family: "OpenSans-Regular";
        margin-top: 50px;
        font-size: 1.9375rem;
        text-align: center;
    }

    .hamzag {
        font-family: "OpenSans-Regular";
        font-size: 1.9375rem;
        text-align: center;
    }
    .not-ie .tmm-team .spiner {
        border-color: transparent #2E2829 #2E2829 transparent;
    }
    .tmm-team .item-circled-3 .face-container:hover .spiner {
    border-color: transparent #F1A52D #F1A52D transparent;
    }

</style>
