@{
    ViewBag.Title = "Home";
}
<div class="background-container medium-12 columns" style="background-image:url(../../Content/Images/hero-bg.jpg) ">
    <div class="color-overlay"></div>
    <h1 class="title">Connect. &nbsp; Learn. &nbsp; Grow.</h1>
    <div class="mbm">
        <p>The interactive learning destination for aspiring and experienced developers</p>
        <a href="../../Library"><input type="button" value="Start Learing Now" class="button start-learing" /></a>
    </div>
</div>
<div class="latest-courses medium-12 column">
    <h3 class="float-center text-center">Our Latest Courses</h3>
    <p class="float-center text-center">Debugtime courses are organized into Paths based on technology. Navigate to find the right course for you</p>
    <div class="course-container medium-12 column">
        <div class="medium-6 column">
            <a class="course-content medium-12 columns">
                <div class="thumbnail medium-4 column">
                    <img src="../../Content/Images/Vectors/books.png">
                </div>
                <div class="course-description medium-8 column">
                    <h4 class="title">C# Certification</h4>
                    <p>Prepare for official Microsoft Exam-ref 70-483 Programing in C# to get certificed</p>
                </div>
            </a>
            <a class="course-content medium-12 columns">
                <div class="thumbnail medium-4 column">
                    <img src="../../Content/Images/Vectors/pen.png">
                </div>
                <div class="course-description medium-8 column">
                    <h4 class="title">C# Certification</h4>
                    <p>Prepare for official Microsoft Exam-ref 70-483 Programing in C# to get certificed</p>
                </div>
            </a>

        </div>
        <div class="medium-6 column">
            <a class="course-content medium-12 columns">
                <div class="thumbnail medium-4 column">
                    <img src="../../Content/Images/Vectors/flask.png">
                </div>
                <div class="course-description medium-8 column">
                    <h4 class="title">C# Certification</h4>
                    <p>Prepare for official Microsoft Exam-ref 70-483 Programing in C# to get certificed</p>
                </div>
            </a>
            <a class="course-content medium-12 columns">
                <div class="thumbnail medium-4 column">
                    <img src="../../Content/Images/Vectors/bulb.png">
                </div>
                <div class="course-description medium-8 column">
                    <h4 class="title">C# Certification</h4>
                    <p>Prepare for official Microsoft Exam-ref 70-483 Programing in C# to get certificed</p>
                </div>
            </a>

        </div>
    </div>
</div>
<div class="hw medium-12 column">
    <h3>How debugtime Works</h3>
    <p>Build your career by achieving your dream jobs.</p>
    <div class="learn section">
        <div class="right description">
            <div class="d-c">

                <h4>Learn</h4>
                <p> Learn from over 1000 videos created by expert teachers on web design, coding, business, and much more. Our library is continually refreshed with the latest on web technology so you'll never fall behind.</p>
            </div>
        </div>
        <div class="left vector">
            <div class="icon">
                <img src="../../Content/Images/Vectors/learn.png" />
            </div>
        </div>
    </div>
    <div class="practise section">
        <div class="left description">
            <div class="d-c">

                <h4>Practice</h4>
                <p>Practice what you've learned through quizzes and interactive Code Challenges. This style of practicing will allow you to retain information you've learned so you can apply it to your own future projects.</p>
            </div>
        </div>
        <div class="right vector">
            <div class="icon">
                <img src="../../Content/Images/Vectors/test.png" />
            </div>
        </div>

    </div>

    <div class="earn section">
        <div class="right description">
            <div class="d-c">

                <h4>Earn</h4>
                <p>You'll earn badges as you journey through our extensive library of courses. These badges are an indicator of what skills you currently possess and are viewable by anyone (even recruiters from big companies!).</p>
            </div>
        </div>
        <div class="left vector">
            <div class="icon">
                <img src="../../Content/Images/Vectors/medal.png" />
            </div>
        </div>

    </div>
</div>


<div class="hired"></div>
