
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Terms of Services ";

}
    <link href="~/Content/Styles/tos/demo.css" rel="stylesheet" />        
    <link href="~/Content/Font_Awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Styles/tos/sky-tabs.css" rel="stylesheet" />
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="css/sky-tabs-ie8.css">
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="js/sky-tabs-ie8.js"></script>
        <![endif]-->

<div>
            <!-- tabs -->
            <div class="sky-tabs sky-tabs-pos-left sky-tabs-anim-flip sky-tabs-response-to-icons" style="padding:40px;">
                <input type="radio" name="sky-tabs" checked id="sky-tab1" class="sky-tab-content-1">
                <label for="sky-tab1"><span><span><i class="fa fa-bolt"></i>Terms of Use</span></span></label>

                <input type="radio" name="sky-tabs" id="sky-tab2" class="sky-tab-content-2">
                <label for="sky-tab2"><span><span><i class="fa fa-file-code-o"></i>Privacy Policy and Cookie Policy</span></span></label>

                <input type="radio" name="sky-tabs" id="sky-tab3" class="sky-tab-content-3">
                <label for="sky-tab3"><span><span><i class="fa fa-cogs"></i>Intellectual Property Policy</span></span></label>

                <input type="radio" name="sky-tabs" id="sky-tab4" class="sky-tab-content-4">
                <label for="sky-tab4"><span><span><i class="fa fa-handshake-o"></i>Instructor Agreement</span></span></label>

                <input type="radio" name="sky-tabs" id="sky-tab5" class="sky-tab-content-5">
                <label for="sky-tab5"><span><span><i class="fa fa-globe"></i>Affiliate Terms & Conditions</span></span></label>

                <input type="radio" name="sky-tabs" id="sky-tab6" class="sky-tab-content-6">
                <label for="sky-tab6"><span><span><i class="fa fa-money"></i>Pricing and Promotions Policy</span></span></label>

                <ul>
                    <li class="sky-tab-content-1">
                        <div class="typography">
                            <h2>Terms of Use</h2>
                            <i>These Terms of Use were last updated on August 31, 2017.</i>
                            <h4>1. Introduction</h4>
                            <p>THESE TERMS OF USE ("TERMS") BIND YOU, THE COMPANY YOU REPRESENT, AND THE COMPANY THAT REGISTERED YOU (COLLECTIVELY "YOU") TO THE TERMS AND CONDITIONS SET FORTH HEREIN IN CONNECTION WITH YOUR USE OF DebugTime, INC.'S ("OUR", "WE", "US", OR "DebugTime") SOFTWARE, WEBSITE, MOBILE APPLICATIONS OR CONNECTED APPLICATIONS SUCH AS APPLE TV, SERVICES OR OTHER OFFERINGS ON OUR WEBSITE (COLLECTIVELY, OUR "SERVICES"). BY USING ANY OF THE DebugTime SERVICES OR CLICKING ON THE "SIGNUP" BUTTON, YOU AGREE TO BECOME BOUND BY THE TERMS. IF YOU DO NOT AGREE TO ALL THESE TERMS, CLICK ON THE "X" BUTTON AND DO NOT USE THE DebugTime SERVICES. DebugTime'S ACCEPTANCE IS EXPRESSLY CONDITIONED UPON YOUR ASSENT TO ALL THESE TERMS, TO THE EXCLUSION OF ALL OTHER TERMS. IF THESE TERMS ARE CONSIDERED AN OFFER BY DebugTime, ACCEPTANCE IS EXPRESSLY LIMITED TO THESE TERMS.</p>
                            <h5>Pre-arbitration clause:</h5>
                            <p>IMPORTANT: BY AGREEING TO THESE TERMS YOU AGREE TO RESOLVE DISPUTES WITH DebugTime THROUGH BINDING ARBITRATION (AND WITH VERY LIMITED EXCEPTIONS, NOT IN COURT), AND YOU WAIVE CERTAIN RIGHTS TO PARTICIPATE IN CLASS ACTIONS, AS DETAILED IN SECTION 18.</p>
                            <h4>2. Additional Agreements</h4>
                            <p>Any personal information submitted in connection with Your use of the Services is subject to Our Privacy Policy, which is hereby incorporated by reference into these Terms.</p>
                            <p>Additionally, if You are an Instructor (as defined below), You are also subject to the Instructor Terms, which are hereby incorporated by reference into these Terms. If You are an Instructor, and there is a conflict between these Terms and the Instructor Terms, the Instructor Terms will govern.</p>
                            <h4>3. General</h4>
                            <p>Our Services enable students ("Students") to connect with independent contractor instructors (the "Instructors", collectively with Students, the "Users") who provide live and recorded instruction, tutoring, and learning services (the "Courses") via Our Services. The Services include, without limitation, facilitating and hosting Courses and supporting materials, and taking feedback from Users.</p>
                            <p>From time to time, We may update these Terms to clarify our practices or to reflect new or different practices, such as when We add new features, and DebugTime reserves the right in its sole discretion to modify and/or make changes to these Terms at any time. If We make any material change to these Terms, We will notify You using prominent means such as by email notice sent to the email address specified in Your Account or by posting a notice through Our Services. Modifications will become effective on the day they are posted unless stated otherwise.</p>
                            <h4>4. Conduct</h4>
                            <p>You may only access the Services for lawful purposes. You are solely responsible for the knowledge of and adherence to any and all laws, rules, and regulations pertaining to Your use of the Services. You agree not to use the Services or the Company Content (as defined below) to recruit, solicit, or contact in any form, Instructors or potential users for employment or contracting for a business not affiliated with Us without Our advance written permission, which may be withheld in Our sole discretion. You assume any and all risks from any meetings or contact between You and any Instructors or other Users of the Services.</p>
                            <h4>5. Specific Obligations of Students</h4>
                            <p>As a Student, You represent, warrant and covenant that:</p>
                            <ol>
                                <li>
                                    You have read, understood, and agree to be bound by the pricing information (see the Pricing section below) before using the Services or registering for a Course.
                                </li>
                                <li>
                                    You are over the age of 18, or, if not, You will only use the Services with the involvement, supervision, and approval of a parent or legal guardian. Children under the age of 13 may not register for an Account or register or purchase Courses.
                                </li>
                                <li>
                                    You will not upload, post or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation (commercial or otherwise) through the Services.
                                </li>
                                <li>
                                    You will not post or provide any inappropriate, offensive, racist, hateful, sexist, pornographic, false, misleading, incorrect, infringing, defamatory or libelous content or information.
                                </li>
                                <li>
                                    You will not copy, modify, reverse engineer, reproduce, distribute, publicly display, publicly perform, communicate to the public, create derivative works from, deface, tarnish, mutilate, hack, interfere with, or otherwise use and exploit any Company Content, the Services or Courses or Submitted Content except as permitted by these Terms or the relevant Instructor as applicable.
                                </li>
                                <li>
                                    You will not frame or embed the Services to circumvent the Services.
                                </li>
                                <li>
                                    You will not impersonate another person or gain unauthorized access to another person's Account.
                                </li>
                                <li>
                                    You will not introduce any virus, worm, spyware or any other computer code, file or program that may or is intended to damage or hijack the operation of any hardware, software or telecommunications equipment, or any other aspect of the Services or operation thereof; scrape, spider, use a robot or other automated means of any kind to access the Services.
                                </li>
                                <li>
                                    You will not disclose any personal information to an Instructor, and otherwise will assume responsibility for controlling how Your personal information is disclosed or used, including, without limitation, taking appropriate steps to protect such information.
                                </li>
                                <li>
                                    You will not solicit personal information from any Instructor or other Student.
                                </li>
                            </ol>
                            <h4>6. Registeration</h4>
                            <p>
                                To use certain Services, You will need to register and obtain an account and password. When You register, the information You provide to Us during the registration process will help Us in offering content, customer service, network management and other services. You are solely responsible for maintaining the confidentiality of Your account, UserName, and password (collectively, Your "Account") and for all activities associated with or occurring under Your Account. You represent and warrant that Your Account information will be accurate at all times. You must notify Us (a) immediately of any unauthorized use of Your Account and any other breach of security, and (b) ensure that You exit from Your Account at the end of each use of the Services. To the extent permissible under applicable law, we cannot and will not be responsible for any loss or damage arising from Your failure to comply with the foregoing requirements or as a result of use of Your Account, either with or without Your knowledge, prior to Your notifying Us of unauthorized access to Your Account.
                            </p>
                            <p>
                                You may not transfer Your Account to any other person and You may not use anyone else's Account at any time. In cases where You have authorized or registered another individual, including a minor, to use Your Account, You are fully responsible for (i) the online conduct of such Student; (ii) controlling that Student's access to and use of the Services; and (iii) the consequences of any misuse.
                            </p>
                            <h4>7. Content, Licenses &amp; Permissions</h4>
                            <p>
                                All software, technology, designs, materials, information, communications, text, graphics, links, electronic art, animations, illustrations, artwork, audio clips, video clips, photos, images, reviews, ideas, and other data or copyrightable materials or content, including the selection and arrangements thereof is "Content." Where DebugTime provides Content to You in connection with the Services, including, without limitation, the software, the products and the site, it is "Company Content". Content uploaded, transmitted or posted to the Services by a User is "Submitted Content". Content remains the proprietary property of the person or entity supplying it (or their affiliated and/or third party providers and suppliers) and is protected, without limitation, pursuant to U.S. and foreign copyright and other intellectual property laws. You hereby represent and warrant that You have all licenses, rights, consents, and permissions necessary to grant the rights set forth in these Terms to DebugTime with respect to Your Submitted Content and that DebugTime shall not need to obtain any licenses, rights, consents, or permissions from, or make any payments to, any third party for any use or exploitation of Your Submitted Content as authorized in these Terms or have any liability to You or any other party as a result of any use or exploitation of Your Submitted Content as authorized in these Terms.
                            </p>
                            <p>
                                DebugTime hereby grants You (as a User) a limited, non-exclusive, non-transferable license to access and use Submitted Content and Company Content, for which You have paid all required fees, solely for Your personal, non- commercial, educational purposes through the Services, in accordance with these Terms and any conditions or restrictions associated with particular Courses or Services. All other uses are expressly prohibited absent Our express written consent. You may not reproduce, redistribute, transmit, assign, sell, broadcast, rent, share, lend, modify, adapt, edit, create derivative works of, license, or otherwise transfer or use any Submitted Content or Company Content unless We give You explicit permission to do so. Submitted Content and Company Content is licensed, and not sold, to You. Instructors may not grant You license rights to Submitted Content You access or acquire through the Services and any such direct license shall be null and void and a violation of these Terms.
                            </p>
                            <p>
                                Notwithstanding the foregoing, We reserve the right to revoke this license to access and use Submitted Content and Company Content granted to You as described above, as further detailed in section 15 below.
                            </p>
                            <p>
                                DebugTime RESPECTS ALL COPYRIGHT, PRIVACY, DEFAMATION AND OTHER LAWS RELATING TO CONTENT AND INFORMATION AND WILL NOT TOLERATE VIOLATION OF SUCH LAWS. NOTWITHSTANDING THE FOREGOING, DebugTime DOES NOT SCREEN THE SUBMITTED CONTENT AND ALL USE OF THE SUBMITTED CONTENT BY YOU IS AT YOUR OWN RISK AND DebugTime SHALL HAVE NO LIABILITY FOR SUCH USE. IN PARTICULAR, NO REVIEW OR POSTING OR APPEARANCE OF THE SUBMITTED CONTENT ON THE SERVICES OR THROUGH THE SERVICES IS INTENDED TO ACT AS AN ENDORSEMENT OR REPRESENTATION THAT ANY SUBMITTED CONTENT IS FREE OF VIOLATION OF ANY COPYRIGHT, PRIVACY OR OTHER LAWS OR WILL SUIT A PARTICULAR PURPOSE OR BE ACCURATE OR USEFUL. If You believe that Submitted Content of Yours violates any law or regulation or is inaccurate or poses any risk whatsoever to a third party it is Your responsibility to take such steps You deem necessary to correct the situation. If You believe that Submitted Content of a third party or any Company Content violates any laws or regulations, including, without limitation, any copyright laws, You should report it to DebugTime in accordance with the procedures that We maintain under Our Intellectual Property Policy.
                            </p>

</div>
                    </li>

                    <li class="sky-tab-content-2">
                        <div class="typography">
                            <h2>Privacy Policy and Cookie Policy</h2>
                            <p>
                                Any version of this Privacy Policy in a language other than English is provided for convenience and You understand and agree that the English language will control if there is any conflict with any non-English versions.
                            </p>
                            <p>
                                DebugTime ("We", "Us", or "Our") respects Your rights regarding Your privacy and information, and We provide this Privacy Policy ("Privacy Policy") to help You understand how We collect, use, share, store and disclose information We obtain from or about You when You use the Services. This Privacy Policy applies to when You use Our Services where We provide a link to this Privacy Policy, unless otherwise stated or unless We provide a link to a different policy. This Privacy Policy also describes the choices available to You regarding the use of, Your access to and how to update and correct Your information.
                            </p>
                            <p>
                                As used herein the term "use" shall mean use, access, install, sign into, connect with, download, visit or browse the Services.
                            </p>
                            <p>
                                You should not use the Services if You do not agree with this Privacy Policy, Our Terms of Use and any other agreement or policy that governs Your use of the Services.
                            </p>
                            <h4>1. Information You Provide to Us Directly</h4>
                            <p>
                                DebugTime may collect different information from or about You depending on the manner in which You use the Services. The following examples are provided to help You better understand the information We may collect through Your use of the Services.
                            </p>
                            <p>
                                <strong>
                                    Please note, DebugTime is not responsible for how others use information that is publicly available or otherwise accessible to others who have access to the Services.
                                </strong>
                            </p>
                            <p>
                                When You sign up for and use the Services (including through a Third Party Platform) We will collect any information You provide to Us directly such as the following:
                            </p>
                            <h5>
                                Registration Information:
                            </h5>
                            <p>
                                In order to use certain features of the Services, such as purchasing or registering for a Course, You are required to register for an Account, and in that case, We will collect and store any registration information You provided to Us, such as e-mail address, password, Your date of birth, and age, and we will assign You a unique identifying number (“Registration Information”).
                            </p>
                            <h5>
                                Profile Information:
                            </h5>
                            <p>
                                You may also have the option of providing additional information about Yourself, including but not limited to a photo, headline, website link, social media profiles, or other information you may choose to enter ("Profile Information") to create a profile ("Profile"). Your Profile and Profile Information will be publicly viewable to others.
                            </p>
                            <h5>
                                Course Information:
                            </h5>
                            <p>
                                DebugTime allows You to enroll in and take online Courses on a variety of topics which are taught by Instructors where, among other things, You will see reviews for Courses by others. We collect information relating to taking Courses, including, without limitation, course, assignment, and quiz completion activity, interchanges with the Course Instructors, teaching assistants and other Students, answers to questions, essays and other items submitted to satisfy the Course requirements, ("Course Information").
                            </p>
                            <p>
                                You hereby consent to Our sharing of Registration Information, Profile Information, and Couse Information to Instructors and teaching assistants. DebugTime does not provide Students’ email addresses to Instructors or teaching assistants. DebugTime does not control how Instructors or teaching assistants treat Registration Information, Profile Information, or Course Information and is not liable for Instructors’ or teaching assistants’ use of such information.
                            </p>
                            <h5>
                                Payment Information:
                            </h5>
                            <p>
                                If You make any purchases through our Services, such as for Courses, We may collect certain information regarding Your purchase (such as Your name and zip code) as necessary to process Your order.  You will be required to provide certain payment and billing information directly to our payment processing partners, including but not limited to Your name, credit card information, billing address and zip code. We do not access, store or collect Your credit card information.
                            </p>
                            <p>
                                If You are an Instructor, We may enable You to link Your PayPal account or other payment account to the Services so that We can pay You.  When You link such account, You allow Us to collect and use certain information from such accounts to provide those payments, such as Your payment account email address or account ID, physical address, and other information necessary for Us to send payment to such account.  We do not access, store, or collect Your payment card or bank account information. The collection, use, and disclosure of Your information will also be subject to the privacy policies and other terms of the payment account providers. You should review such privacy policies, terms, and other agreements.
                            </p>
                        </div>
                    </li>

                    <li class="sky-tab-content-3">
                        <div class="typography">
                            <h2>Intellectual Property Policy</h2>
                            <h4>
                                1. Notice and Procedure for Making Claims of Copyright or Other Intellectual Property Infringements.
                            </h4>
                            <p>
                                DebugTime, Inc. respects the intellectual property of others and takes the protection of copyrights and all other intellectual property very seriously, and we ask our instructors, students and other users of our website and services (the “Site”) to do the same. Infringing activity will not be tolerated on or through the Site.
                            </p>
                            <p>
                                DebugTime’s intellectual property policy is to (a) remove material that DebugTime believes in good faith, upon notice from an intellectual property owner or their agent, is infringing the intellectual property of a third party by being made available through the Site, and (b) remove any Submitted Content posted to the Site by "repeat infringers." DebugTime considers a "repeat infringer" to be any User that has uploaded Submitted Content to the Site and for whom DebugTime has received more than two takedown notices compliant with the provisions of 17 U.S.C. 512(c) with respect to such Submitted Content. DebugTime has discretion, however, to terminate the account of any User after receipt of a single notification of claimed infringement or upon DebugTime’s own determination.
                            </p>
                            <h4>2. Procedure for Reporting Claimed Infringement.</h4>
                            <p>
                                If you believe that any content made available on or through the Site has been used or exploited in a manner that infringes an intellectual property right you own or control, then please promptly send a "Notification of Claimed Infringement" containing the following information to the Designated Agent identified below. Your communication must include substantially the following;
                            </p>
                            <ul>
                                <li>
                                    A physical or electronic signature of a person authorized to act on behalf of the owner of the work(s) that has/have been allegedly infringed;
                                </li>
                                <li>
                                    Identification of works or materials being infringed, or, if multiple works are covered by a single notification, a representative list of such works;
                                </li>
                                <li>
                                    Identification of the specific material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit DebugTime to locate the material;
                                </li>
                                <li>
                                    Information reasonably sufficient to permit DebugTime to contact you, such as an address, telephone number, and, if available, an electronic mail address at which you may be contacted;
                                </li>
                                <li>
                                    A statement that you have a good faith belief that the use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
                                </li>
                                <li>
                                    A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                                </li>
                            </ul>
                            <p>
                                You should consult with your own lawyer and/or see 17 U.S.C. 512 to confirm your obligations to provide a valid notice of claimed infringement.
                            </p>
                            <h4>3. Designated Agent Contact Information.</h4>
                            <p>
                                DebugTime’s Designated Agent for notices of claimed infringement can be contacted at:
                            </p>
                            <ul>
                                <li>Via E-mail: <a href="mailto:copyright@debugtime.com" id="" class="">copyright@debugtime.com</a></li>
                                <li>
                                    Via U.S. Mail: DebugTime, Inc. 600 Harrison Street, 3rd Floor, San Francisco, CA 94107
                                    Attn:
                                    Copyright Department
                                </li>
                            </ul>
                            <h4>4. Counter Notification.</h4>
                            <p>
                                If you receive a notification from DebugTime that material made available by you on or through the Site has been the subject of a Notification of Claimed Infringement, then you will have the right to provide DebugTime with what is called a "Counter Notification." To be effective, a Counter Notification must be in writing, provided to Company's Designated Agent through one of the methods identified above, and include substantially the following information:
                            </p>
                            <ul>
                                <li>A physical or electronic signature of the subscriber;</li>
                                <li>
                                    Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;
                                </li>
                                <li>
                                    A statement under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and
                                </li>
                                <li>
                                    The subscriber's name, address, and telephone number, and a statement that the subscriber consents to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if the subscriber's address is outside of the United States, for any judicial district in which Company may be found, and that the subscriber will accept service of process from the person who provided notification above or an agent of such person.
                                </li>
                            </ul>
                            <p>
                                A party submitting a Counter Notification should consult a lawyer or see 17 U.S.C. 512 to confirm the party's obligations to provide a valid counter notification under the Copyright Act.
                            </p>
                            <h4>5. False Notifications of Claimed Infringement or Counter Notifications.</h4>
                            <p>The Copyright Act provides that:</p>
                            <p>
                                [a]ny person who knowingly materially misrepresents under [Section 512 of the Copyright Act (17 U.S.C. 512)] (1) that material or activity is infringing, or (2) that material or activity was removed or disabled by mistake or misidentification, shall be liable for any damages, including costs and attorneys' fees, incurred by the alleged infringer, by any copyright owner or copyright owner's authorized licensee, or by a service provider, who is injured by such misrepresentation, as the result of [DebugTime] relying upon such misrepresentation in removing or disabling access to the material or activity claimed to be infringing, or in replacing the removed material or ceasing to disable access to it.
                            </p>
                        </div>
                    </li>

                    <li class="sky-tab-content-4">
                        <div class="typography">
                            <h2>Instructor Terms & Conditions</h2>
                            <p>
                                If you are an Instructor, these Instructor Terms &amp; Conditions (the “Instructor Terms”) contain the terms and conditions of Your participation as an Instructor via DebugTime’s Services. This is a binding agreement between you and DebugTime and is incorporated by reference into DebugTime’s Terms of Use (“Terms of Use”).
                            </p>
                            <p>
                                Any version of these Instructor Terms in a language other than English is provided for convenience and you understand and agree that the English language will control if there is any conflict.
                            </p>
                            <h4>1. Key Definitions</h4>
                            <p>
                                "<b>Base Price</b>" means the course price set by the Instructor within the Price Tier Matrix.
                            </p>
                            <p>
                                "<b>Base Currency</b>" means the currency of the Base Price.
                            </p>
                            <p>
                                "<b>Base Exchange Rate</b>" means a system-wide rate used by DebugTime for foreign currency conversion and does not include any fee or mark-up by DebugTime. The rate is established using one or more third parties and is fixed periodically. Accordingly, the Base Exchange Rate may not be identical to the applicable market rate in effect at the specific time a foreign currency conversion is processed.
                            </p>
                            <p>
                                "<b>Instructor Revenue</b>" shall mean Net Amount less any refunds paid, as provided in Section 10 of the Terms of Use.
                            </p>
                            <p>
                                "<b>Gross Amount</b>" means the amount actually received by DebugTime for purchases by Students for Your Course. Please note that for mobile application sales, mobile platforms apply fees, such as Apple’s App Store or Google Play.
                            </p>
                            <h4>2. Agreement</h4>
                            <p>
                                As an Instructor You are contracting directly with DebugTime, Inc., a Delaware corporation in the United States of America. Additionally, although We may utilize other DebugTime subsidiaries to facilitate Your payments, Your contract remains between You and DebugTime, Inc.
                            </p>
                            <h4>3. Your Relationship with Students</h4>
                            <p>
                                Instructors do not have a direct contractual relationship with Students. The only information You will receive about Students is what is provided to You through the Services (“Student Related Data”). You understand and agree that You will indemnify DebugTime for any issues arising out of Your use of any Student Related Data.
                            </p>
                            <h4>4. Obligations</h4>
                            <p>
                                As an Instructor, You represent, warrant, and covenant that:
                            </p>
                            <ol>
                                <li>
                                    Instructor enrollment form and if You choose to charge fees for Your Courses, You will also need to agree again to the pricing terms which are presented to you during the paid Course creation process;
                                </li>
                                <li>
                                    You will be responsible for all of Your Submitted Content. You further agree that You own or have the necessary licenses, rights, consents, and permissions, and the authority to authorize DebugTime, to reproduce, distribute, publicly perform (including by means of a digital audio transmission), publicly display, communicate to the public, promote, market and otherwise use and exploit any of Your Submitted Content on and through the Services in the manner contemplated by these Instructor Terms;
                                </li>
                                <li>
                                    No Submitted Content shall infringe or misappropriate any intellectual property right of a third party;
                                </li>
                                <li>
                                    You have the required qualifications, credentials and expertise, including without limitation, education, training, knowledge, and skill sets, to teach and offer the services You offer on Your Course and through the Services;
                                </li>
                                <li>
                                    You will not post or provide any inappropriate, offensive, racist, hateful, sexist, pornographic, false, misleading, incorrect, infringing, defamatory or libelous content or information;
                                </li>
                                <li>
                                    You will not upload, post or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation (commercial or otherwise) through the Services or to any User;
                                </li>
                                <li>
                                    You will not use the Services for any business other than for providing tutoring, teaching and instructional services to Students;
                                </li>
                                <li>
                                    You will not engage in any activity that will require DebugTime to obtain any licenses from or pay any royalties to any third party, including, by way of example and not limitation, the payment of royalties for the public performance of any musical works or sound recordings;
                                </li>
                                <li>
                                    You will not copy, modify, distribute, reverse engineer, deface, tarnish, mutilate, hack, or interfere with Company Content and/or the Services or operations thereof, except as permitted in these Instructor Terms;
                                </li>
                                <li>
                                    You will not frame or embed the Services in a manner to embed a free coupon version of your course or other similar functionality intended to circumvent the Services;
                                </li>
                                <li>
                                    You will not impersonate another person or gain unauthorized access to another person's Account;
                                </li>
                                <li>
                                    Your use of the Services are subject to DebugTime's approval, which We may grant or deny in Our sole discretion;
                                </li>
                                <li>
                                    You will not introduce any virus, worm, spyware or any other computer code, file or program that may or is intended to damage or hijack the operation of any hardware, software or telecommunications equipment, or any other aspect of the Services or operation thereof; scrape, spider, use a robot or other automated means of any kind to access the Services;
                                </li>
                                <li>
                                    You will not interfere with or otherwise prevent other Instructors from providing their services or Courses;
                                </li>
                                <li>
                                    You will maintain accurate Account information;
                                </li>
                                <li>
                                    You shall respond promptly to Students and ensure a quality of service commensurate with the standards of Your industry and instruction services in general;
                                </li>
                                <li>
                                    You are over the age of 18 or, if not, you are between the ages of 13 and 17 and a third party parent or legal guardian has agreed to these Instructor Terms, as well as all other of Our terms and policies as shall be posted on Our Services from time to time, and will assume responsibility and liability for Your performance and compliance hereunder.
                                </li>
                            </ol>
                            <h4>5. Trust &amp; Safety</h4>
                            <p>
                                By agreeing to these Instructor Terms, You also agree to abide by the Trust &amp; Safety policies. 
                            </p>
                            <h4>8. Pricing</h4>
                            <p>
                                As an Instructor, You will be responsible for determining the Base Price You charge Students for Your Course(s) from the Price Tier Matrix. You may select any increment as defined in the Price Tier Matrix by going to the Price Edit screen in your Instructor Account. You agree to charge only for Your own Submitted Content. You may not charge separately for any course add-ons such as downloadable PDFs or other content and services (such as providing a link to a third party service to sell downloadable PDFs). The Company will handle billing and other fee interaction with Students. When the Sale Currency is different than the Base Currency, DebugTime will determine the Sale Price using the most recently published Price Tier Matrix. The Company reserves the right to make changes to the Price Tier Matrix at any time.
                            </p>
                            <p>
                                As part of Your participation on DebugTime, You give Us permission to share Your Course, and information about You and the Course with DebugTime employees and selected partners, for which You will not receive compensation.
                            </p>
                            <p>
                                DebugTime offers certain programs that can help you market your Courses (“Marketing Programs”). Marketing Programs may include, but are not limited to, DebugTime's Deals Program and Marketing Boost Program. The complete list and terms of the currently available Marketing Programs are available, which may be updated from time to time. If You choose to participate, the fee You receive from DebugTime will be in accordance with the terms of the particular Marketing Program that applies to the sale of Your Course. You may opt out of any Marketing Programs at any time, provided however, if you do opt-out of a Marketing Program, your Course will remain subject to any sales, campaigns, or promotions under any Marketing Programs that apply to Your Course that are active at the time you opt-out until the completion of such sales, campaigns, or promotions. In addition, you acknowledge and accept that certain sales, campaigns or promotions may be limited in applicability and not all sales, campaigns, or promotions will apply to Your Course.
                            </p>
                        </div>
                    </li>

                    <li class="sky-tab-content-5">
                        <div class="typography">
                            <h2>Affiliate Terms & Conditions</h2>
                            <p>
                                THIS IS A LEGAL AGREEMENT BETWEEN YOU (“YOU”, “YOUR”, OR “YOURS”), AND DebugTime, INC., A DELAWARE CORPORATION LOCATED IN SAN FRANCISCO, CALIFORNIA, UNITED STATES OF AMERICA (“DebugTime”, “WE”, “US”, OR “OUR”). BY CLICKING ON THE "I ACCEPT" BUTTON AT THE END OF THESE AFFILIATE TERMS AND CONDITIONS (“AFFILIATE TERMS”) YOU ARE AGREEING THAT YOU HAVE READ AND UNDERSTAND THESE AFFILIATE TERMS AND THAT YOU AGREE TO BE LEGALLY RESPONSIBLE FOR EACH AND EVERY TERM AND CONDITION HEREIN.
                            </p>
                            <p>
                                Any version of these Affiliate Terms in a language other than English is provided for convenience and You understand and agree that the English language will control if there is any conflict.
                            </p>
                            <p>
                                All capitalized terms used and not otherwise defined herein shall have the meaning ascribed to them.
                            </p>
                            <h4>1. Overview</h4>
                            <p>
                                These Affiliate Terms contain the complete terms and conditions that apply to You when becoming an affiliate in DebugTime’s affiliate program (the “Affiliate Program”). The purpose of these Affiliate Terms is to allow You to make affiliate commissions through sales generated from Your website to Our Services in the manner set forth herein.
                            </p>
                            <h4>2. Enrollment in the Affiliate Program</h4>   
                            <p>
                                (a) <i>Application Completion.</i> If You have not already done so, You need to complete an application to the Affiliate Program (the “Application”). You need to identify Your website, describe how You plan to promote DebugTime’s Services on Your website, and provide certain contact information. 
                            </p>
                            <p>
                                (b) <i>Acceptance of Your Application.</i> If we choose to accept Your Application, You will receive an email notification confirming that Your Application has been approved. You understand and agree that We may accept or reject Your Application at Our sole discretion. Your Application will be rejected if any of the information You provide is incorrect or incomplete, if Your website promotes materials of a sexual, pornographic, violent, or defamatory nature, if You or Your website discriminate, violate any applicable law, or violate any person’s intellectual property rights, or for any other reason We may deem fit to reject Your Application.
                            </p>
                            <p>
                                (c) <i>Access to our Affiliate Program.</i> If We have accepted Your Application, We will send You a welcome email with Your login details so that You may enter Our secure affiliate center. From this center You will be able to download Promotional Materials and qualifying links as well as access Your reports which will describe Our calculation of the affiliate commissions due to You. It is Your responsibility to keep Your username and password information secure. For purposes of clarity, Promotional Materials is defined as banners, text links, article copy, and access to data feeds.
                            </p>
                            <p>
                                (d) You will ensure that your information including your email address is at all times complete, accurate and up-to-date. We may send communications to the email address associated with your account.  You will be deemed to have received all notifications, approvals, and other communications sent to that email address, even if the email address associated with your account is no longer current.
                            </p>
                            <h4>3. Specific Obligations of Affiliates</h4>
                            <p>
                                As a member of Our Affiliate Program, You represent, warrant, and covenant that You will:
                            </p>
                            <p>
                                (a) <i>Link to Our Services.</i> You will implement the links, banners, and other means of linking Your website to Our Services (collectively, “Referral Links”) pursuant to the referral specifications set forth on the Affiliate Program on Rakuten Linkshare (“Referral Specifications”). On this page You will be able to download certain technical materials, including links, HTML code, banner ads, copy and other content, and any documentation for the foregoing (collectively, “Referral Materials”). When Our customers click through the Referral Links to purchase an item on the DebugTime site, you can receive commissions for qualifying purchases as described in Affiliate Commissions.
                            </p>
                            <p>
                                (b) <i>Maintain Your Site:</i> The maintenance and the updating of Your website will be Your responsibility. DebugTime will notify you via email of any changes to these Terms and our Referral Materials. However, as a member of Our Affiliate Program and because Our information is updated often, it will be necessary for You to update the Referral Materials on Your website to maintain consistency and accuracy between Our Services and the Referral Specifications.
                            </p>
                            <p>
                                (c) <i>Follow and Comply with All Copyright Laws:</i> It is entirely Your responsibility to follow and comply with all applicable copyright and other laws that pertain to Your website. We will not be responsible if You use another person's copyrighted material in violation of the law.
                            </p>
                        </div>
                    </li>

                    <li class="sky-tab-content-6">
                        <div class="typography">
                            <h2>Pricing and Promotions Policy</h2>
                            <p>As an Instructor, You may select a Tier governing the Base Price for Your Course from the DebugTime price tier matrix (summary of which is provided below). You can do so by going to the “Price Edit” screen in Your Instructor Account. Thereafter, Students will see the price selected, unless otherwise adjusted pursuant to the terms of this Pricing and Promotions Policy. This price tier matrix will be updated periodically according to market conditions or as exchange rates change. Notwithstanding, in connection with promotional programs, certain Courses may be priced at higher prices at DebugTime’s discretion</p>
                            <p>Except when a Course is made available through DebugTime’s Marketing Programs, or when a Course is offered on DebugTime's mobile applications, an Instructor will be solely responsible for determining the Base Price to be charged for such Course, in accordance with the Instructor Terms. In the case of Courses offered on DebugTime's mobile applications, the mobile platform provider’s pricing matrix will control and the provider will select the price tier that is closest to the Course price set by the Instructor.  Please note that currency conversion on mobile platforms is controlled by those platforms and accordingly your Course price may appear as different than the pricing tier You selected.</p>
                            <p>As set forth in the price tier matrix, DebugTime currently offers students the ability to buy courses in the following currencies: American Dollar (USD), British Pound (GBP), Euro (EUR), Japanese Yen (JPY), Singaporean Dollar (SGD), Mexican Peso (MXN), Brazilian Real (BRL), Canadian Dollar (CAD), Australian Dollar (AUD), Israel Shekel (ILS), Thailand Baht (THB), Taiwan New Dollar (TWD) South African Rand (ZAR), Indian Rupee (INR), Polish Zloty (PLN), Turkish Lira (TRY), Norway Krone (NOK); and South Korea Won (KRW).</p>
                        
                        </div>
                    </li>
                </ul>
            </div>
            <!--/ tabs -->
</div>
<style>
    .sky-tabs-anim-flip > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1, .sky-tabs-anim-flip > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2, .sky-tabs-anim-flip > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3, .sky-tabs-anim-flip > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4, .sky-tabs-anim-flip > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5, .sky-tabs-anim-flip > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6, .sky-tabs-anim-flip > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7, .sky-tabs-anim-flip > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8, .sky-tabs-anim-flip > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9 {
        max-width: 98% !important;
    }
    .sky-tabs-pos-left > label, .sky-tabs-pos-right > label {
    border: 2px solid #ddd;
    margin-bottom: -1px;
}
.sky-tabs > input:checked + label {
    border-color: #787878;
    background-color: #787878 !important;
}
.sky-tabs > input:checked + label span span {
    background: #F1A226;
    color: #fff;
}

.sky-tabs > label span span:hover {
    background: #F1A226 !important;
}
p{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #333 !important;
}
ol, ul{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #333 !important;
}
</style>